name: minio-bitnami

on:
  schedule:
    - cron: "00 01 * * 1"
  push:
    branches:
      - 'main'
    paths:
      - 'images/minio-bitnami/**'
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
  security-events: write
  actions: read

jobs:
  publish:
    strategy:
      matrix:
        version: [latest, "0.20250203"]
        include:
          - version: latest
            packages: ''
          - version: "0.20250203"
            packages: 'minio-bitnami-2025-compat~0.20250203,minio~0.20250203,mc~0.20250215'
    name: ${{ matrix.version }}
    uses: './.github/workflows/release.yaml'
    with:
      tag: ${{ matrix.version }}
      target: prod
      packages: ${{ matrix.packages }}
    secrets: inherit
