name: minio-bitnami-client

on:
  schedule:
    - cron: "00 06 * * *"
  push:
    branches:
      - 'main'
    paths:
      - 'images/minio-bitnami-client/**'
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
  security-events: write
  actions: read

jobs:
  publish:
    strategy:
      matrix:
        version: [latest, "0.20250215"]
        include:
          - version: latest
            packages: ''
          - version: "0.20250215"
            packages: 'mc-bitnami-2025-compat~0.20250215,mc~0.20250215'
    name: ${{ matrix.version }}
    uses: './.github/workflows/release.yaml'
    with:
      tag: ${{ matrix.version }}
      target: prod
      packages: ${{ matrix.packages }}
    secrets: inherit
