name: postgres-bitnami

on:
  schedule:
    - cron: "00 01 * * 1"
  push:
    branches:
      - 'main'
    paths:
      - 'images/postgres-bitnami/*.yaml'
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
  security-events: write
  actions: read

jobs:
  publish:
    strategy:
      matrix:
        version: [latest, "16.8"]
        include:
          - version: latest
            packages: ''
          - version: "16.8"
            packages: 'postgresql~16.8,postgresql-client~16.8,postgresql-contrib~16.8,postgresql-oci-entrypoint~16.8,postgresql-bitnami-compat~16.4,pgvector-16~0.8'
    name: ${{ matrix.version }}
    uses: './.github/workflows/release.yaml'
    with:
      tag: ${{ matrix.version }}
      target: prod
      packages: ${{ matrix.packages }}
    secrets: inherit
